* {
    box-sizing: border-box;
}

.form_header h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #443f3f;
    margin: 6px 0;
    /*border: #588db3;*/
}

.to-do_list {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #F2F2F2;
    color: #443f3f;
    padding: 10px 0;
    border-radius: 8px;
}
 ul#todo-list_content {
     list-style-type: none;
     padding-left: 20px;
 }

.form_header h2, .to-do_list {
    padding-left: 10px;
    padding-right: 10px;
}

.form_header, .to-do_list {
    margin: 0 10px;
    max-width: 600px;
}

.to-do_list .edit_note {
    font-weight: normal;
    padding: 2px;
    border: none;
}

.save_button, .edit_button, .delete_button {
    padding: 0;
    margin: 0 5px;
}

.to-do_list input#new_note {
    font-weight: normal;
    width: auto;
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 8px;
    border: none;
}

.note_block {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.to-do_list input:focus {
    outline: none;
}

.to-do_list :disabled {
    background-color: #eee;
}

.to-do_list input::placeholder {
    color: #999;
}

.input_block {
    display: inline-block;
}

#add_new_note_button {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 34px;
    background-color: #747474;
    color: #fff;
    border: none;
    margin: 0;
    border-radius: 4px;
}

#add_new_note_button:hover {
    background-color: #646464;
}