* {
    box-sizing: border-box;
}

.form_header h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #676565;
    margin: 6px 0;
    border: #588db3;
}

.to-do_list {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #E2DED0;
    color: #676565;
    padding-top: 18px;
    padding-bottom: 11px;
}

.form_header h2, .to-do_list {
    padding-left: 20px;
    padding-right: 20px;
}

.form_header, .to-do_list {
    margin: 0 10px;
    max-width: 500px;
}

.to-do_list input {
    font-weight: normal;
    width: auto;
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 11px 10px;
    border: none;
}

.to-do_list input:focus {
    outline: none;
}

.to-do_list :disabled {
    background-color: #eee;
}

.to-do_list input::placeholder {
    color: #999;
}

.input_block {
    display: inline-block;
}

#save_note_button {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 40px;
    background-color: #747474;
    color: #fff;
    border: none;
    margin: 0;
}

#convert_button:hover {
    background-color: #646464;
}

ul {
    list-style-type: none;
}

.delete_button, .edit_button {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: auto;
    height: 30px;
    background-color: #747474;
    color: #fff;
    border: none;
    margin: 0;
}

