.main_text_block {
    font: 12pt/27px Arial, regular;
    font-weight: lighter;

    background-color: #feeed6;
    color: #676565;
    box-sizing: content-box;
    margin: 15px 15px 15px 15px;
    padding: 10px 15px 10px 15px;
    width: 815px;
    height: 465px;
    max-width: 95%;
}

h2 {
    font: 25pt Arial, regular;
    margin: 2px 0 2px 0;
}

.subheader {
    color: #588db3;
}

p {
    text-indent: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}