* {
    box-sizing: border-box;
}

.form_header h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #676565;
    margin: 6px 0;
    border: #588db3;
}

.temperature_converter_form {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #E2DED0;
    color: #676565;
    padding-top: 18px;
    padding-bottom: 11px;
}

.form_header h2, .temperature_converter_form {
    padding-left: 22px;
    padding-right: 22px;
}

.form_header, .temperature_converter_form {
    margin: 0 10px;
    max-width: 400px;
}

.temperature_converter_form input, .temperature_converter_form textarea {
    font-weight: normal;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 11px 10px;
    border: none;
}

.temperature_converter_form input:focus{
    outline: none;
}

.temperature_converter_form input::placeholder, .temperature_converter_form textarea::placeholder {
    color: #999;
}

.temperature_converter_form textarea {
    min-height: 20px;
    height: 128px;
    padding: 10px;
    resize: vertical;
}

.temperature_converter_form .call_to_action {
    font-weight: normal;
    color: #737373;
}

.call_to_action {
    margin-bottom: 13px;
}

.submit_button_container {
    display: flex;
    justify-content: flex-end;
    margin: 9px 0 4px;
}

#convert_button {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 170px;
    height: 36px;
    background-color: #747474;
    color: #fff;
    border: none;
    margin: 0;
}

#convert_button:hover {
    background-color: #646464;
}