.form_header {
    font-family: Arial, sans-serif;
    font-size: 33px;
    font-weight: lighter;
    color: #676565;
    box-sizing: border-box;
    margin: 10px 30px;
}

.feedback_form {
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: #feeed6;
    color: #676565;
    box-sizing: border-box;
    margin: -5px 10px;
    padding: 18px 15px 13px 22px;
    max-width: 845px;
}

.feedback_form div {
    margin-right: 27px;
}

.feedback_form input, .feedback_form textarea {
    font-weight: normal;
    width: 100%;
    height: 15px;
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 12px 10px;
    border: none;
}

.feedback_form input::placeholder, .feedback_form textarea::placeholder {
    color: #999;
}

.feedback_form textarea {
    min-height: 20px;
    height: 105px;
}

.feedback_form label.call_to_action {
    font-weight: normal;
    color: #737373;
}

.feedback_form div.submit_button_container {
    margin-right: 4px;
}

.submit_button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

button {
    text-align: center;
    width: 172px;
    height: 38px;
    background-color: #588db3;
    color: #fff;
    border: none;
    margin: 0;
}