.form_header h2 {
    font-family: Arial, sans-serif;
    font-size: 33px;
    font-weight: lighter;
    color: #676565;
    box-sizing: border-box;
    margin: 6px 32px;
}

.feedback_form {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #feeed6;
    color: #676565;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 18px 14px 13px 22px;
}

.form_header, .feedback_form {
    max-width: 845px;
}

.feedback_form div.input_form_div {
    margin-right: 27px;
}

.feedback_form input, .feedback_form textarea {
    font-weight: normal;
    width: 100%;
    height: 15px;
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 12px 10px;
    border: none;
}

.feedback_form input::placeholder, .feedback_form textarea::placeholder {
    color: #999;
}

.feedback_form textarea {
    min-height: 20px;
    height: 105px;
    resize: vertical;
}

.feedback_form .call_to_action {
    font-weight: normal;
    color: #737373;
}

.call_to_action {
    margin-bottom: 13px;
}

.feedback_form .submit_button_container {
    margin-right: 8px;
}

.submit_button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 9px;
    margin-bottom: 3px;
}

button#submitButton {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 170px;
    height: 36px;
    background-color: #378db2;
    color: #fff;
    border: none;
    margin: 0;
}

button#submitButton:hover {
    background-color: #32728d;
}