.main_container {
    max-width: 860px;
    margin: 15px;
}

table.data_table {
    font-family: Calibri, serif;
    font-size: 23px;
    font-weight: normal;
    border-collapse: collapse;
    border: 1px solid lightgray;
    width: 100%;
}

th.data_table, td.data_table {
    border: 1px solid lightgray;
    padding: 12px;
}

th.data_table {
    text-align: left;
    background: #369bde;
    color: white;
}

tr.data_table {
    background: #eeeeee;
}

tr.data_table:nth-child(2n) {
    background: white;
}