.main_container {
    max-width: 860px;
    margin: 15px;
}

.data_table {
    font-family: Calibri, serif;
    font-size: 23px;
    font-weight: normal;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

.data_table th, .data_table td {
    border: 1px solid #ccc;
    padding: 12px;
}

.data_table th {
    text-align: left;
    background: #369bde;
    color: #fff;
}

.data_table tr {
    background: #eee;
}

.data_table tr:nth-child(2n) {
    background: #fff;
}