<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testing Vue</title>

    <script defer src="node_modules/jquery/dist/jquery.js"></script>
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="todo_list.js"></script>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="v-cloak.css"/>
</head>
<body>
<div class="container" id="app" v-cloak>
    <form class="row g-3 border needs-validation mt-3 py-2" novalidate id="contact_input_form">
        <div class="col-md-4 mt-0">
            <label for="first_name" class="form-label">First name</label>
            <input type="text" class="form-control" id="first_name" required v-model="name">
            <div class="invalid-feedback">
                Please provide your name
            </div>
        </div>
        <div class="col-md-4 mt-0">
            <label for="last_name" class="form-label">Last name</label>
            <input type="text" class="form-control" id="last_name" required v-model="surname">
            <div class="invalid-feedback">
                Please provide your last name
            </div>
        </div>
        <div>
            <button class="btn btn-primary my-1" type="button" id="add_contact_button" @click="getFullName">Get full name</button>
        </div>
    </form>
    <div class="col-md-4 mt-0" v-text="fullName">full name here</div>
</div>
</body>
</html>