<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-do list v3.0</title>
    <link rel="icon" href="resources/todo_icon.svg">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="v-cloak.css"/>

    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="todo_list.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container col-md-7 col-xl-5">
        <a class="navbar-brand" href="#to-do_list">
            <img src="resources/todo_icon.svg" alt="" width="30" height="24"
                 class="d-inline-block align-text-top">
            To-do list on Vue
        </a>
    </div>
</nav>

<div v-cloak class="container col-md-7 col-xl-5" id="app">
    <div class="border mt-3 p-2">
        <label for="exampleFormControlTextarea1" class="form-label">Type text for a new to-do note:</label>
        <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3" v-model="newTodoText"
                  :class="{'is-invalid': isNewTodoInvalid}"></textarea>
        <button @click="addNewTodoNote(newTodoNote)" type="button" class="btn btn-primary">Add note</button>
    </div>

    <div class="border mt-3 p-2">
        <ul class="list-unstyled">
            <to-do-item v-for="(item, index) in items"
                        :index="index"
                        :item="item"
                        :key="item.id"
                        @delete-item="deleteItem"
                        @save-item="saveItem"></to-do-item>
        </ul>
    </div>
</div>
</body>

<script  id="to-do-item-template" type="text/x-template">
    <li>
        <div v-if="!isEditing">
            <div v-text="item.text"></div>
            <button class="btn btn-primary" @click="editItem">Edit</button>
            <button class="btn btn-danger" @click="$emit('delete', item)">Delete</button>
            <!--        title for icon button-->
        </div>
        <div v-else>
            <input v-model="editingText" class="form-control">
            <button class="btn btn-secondary" @click="isEditing = true">Cancel</button>
            <button class="btn btn-success" @click="saveItem">Save</button>
        </div>
    </li>
</script>
</html>